:css

  .iframe-responsive {
    padding-bottom: 20%;
    height: auto;
  }
  .iframe-responsive iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    
  }

.iframe-responsive
  %iframe{src: @url,  id: "iframe", frameborder:"0"}

