.row
  .col-md-12
    %p
      %h1
        %b Envio de recurso
    %p
      %i Manifesto a minha intenção de recorrer contra a decisão que viabilizou o resultado do Concurso Público Nacional de Projetos de Urbanismo e Arquitetura no Setor Habitacional Pôr do Sol, na Região Administrativa de Ceilândia – RA IX nos seguintes termos: 
.row
  .col-md-12
    = render 'form'
