= simple_form_for @session, url: candidate.attendance_appraisal_sessions_path do |f|
  .row
    .col-md-6
      = f.input :username, label: "Usuário", placeholder: "Informe o usuário"
    .col-md-6
      = f.input :password, label: "Senha", placeholder: "********"
  .row
    .col-md-6
      = f.submit "Realizar acesso", class: 'btn btn-success', data: { disable_with: t(:disable_with)}
   