.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title{style: 'text-align: center !important'}
    %b Atenção
.modal-body
  = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/3efdb2651cc2c678a4b0d0199b1c1a01.png', width: '100%')
