.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .h3
          %b Envio de documentação
        .sub-title Formulário de envio de documentação
        .row
          .col-md-12
            = render 'form'
