body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

/* teste */
.container{
  width: 21cm;
  max-height: 25.9cm;
  margin: 0 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  padding-top: 2.8cm;
  padding-bottom: 1cm;

}

.spacing{
  word-spacing: 0.2em;
  line-height: 1.3em;
}

.lateral-margins{
  min-height: 5px;
  margin:0 0.5cm 0 1.7cm;
}
.title{
  width: 14cm;
  text-align: center;
  margin: 20px auto;
}
.data-candidate{
  border: 1px solid gray;
  width: 16cm;
  padding: 10px;

}
.content{
  text-align: justify;

}
.div-center{
  width: 17cm;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}
