%iframe{:src => "https://www.w3schools.com"}
  %p Your browser does not support iframes.

-# %input{:accept => "image/*", :capture => "camera", :type => "file"}/
-# %input{:accept => "image/*", :type => "file"}/
-# !!!
-# %html
-#   %head
-#     %title 404
-#     %meta{:charset => "utf-8"}/
-#     %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
-#     :css
-#       body {
-#         background-color: #EFEFEF;
-#         color: black;
-#         text-align: center;
-#         font-family: arial, sans-serif;
-#         margin: 0;
-#       }
-#
-#       div.dialog {
-#         width: 95%;
-#         margin: 4em auto 0;
-#       }
-#
-#       div.dialog > div {
-#         border: 1px solid #CCC;
-#         border-right-color: #999;
-#         border-left-color: #999;
-#         border-bottom-color: #BBB;
-#         border-top: #ffcb08 solid 4px;
-#         border-top-left-radius: 9px;
-#         border-top-right-radius: 9px;
-#         background-color: white;
-#         padding: 7px 12% 0;
-#         box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
-#       }
-#
-#       h1 {
-#         font-size: 25px;
-#         color: #818285;
-#         line-height: 1.5em;
-#       }
-#
-#       p.return {
-#         margin: 0 0 1em;
-#         padding: 1em;
-#         background-color: #F7F7F7;
-#         border: 1px solid #CCC;
-#         border-right-color: #999;
-#         border-left-color: #999;
-#         border-bottom-color: #999;
-#         border-bottom-left-radius: 4px;
-#         border-bottom-right-radius: 4px;
-#         border-top-color: #DADADA;
-#         color: #666;
-#         box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
-#       }
-#       p.warning{
-#         font-size: 20px;
-#         text-align: center;
-#         font-weight: bold;
-#         color: #ed1414;
-#       }
-#       p.info{
-#         font-size:16px;
-#         text-align: center;
-#         color: #ed1414;
-#       }
-#   %body
-#     / This file lives in public/404.html
-#     .dialog
-#       %div
-#         %img{:src => "http://www.codhab.df.gov.br/portal/images/codhab_footer.png", :width => "400"}/
-#         %h1 Aviso
-#
-#         %p.warning
-#           Prezado usuário se estiver tentanto atualizar seu cadastro e visualizou essa tela por favor realize os seguintes procedimentos:
-#           %p.info
-#             1º - Verifique sua conexão, ela pode estar lenta ou seu sinal está instável, aguarde alguns minutos e tente novamente.
-#           %p.info
-#             2º - Verifique se os dados que está inserindo estão corretos.
-#           %p.info
-#             3º - Se realizou os passos 1 e 2 e ainda assim o erro persistiu, entre em
-#             contato com suporte.app@codhab.df.gov.br informando o seu CPF e se possível detalhando em qual momento visualizou essa tela de erro.
-#       -# %p.return
