.row
  .col-md-6
    = f.input :password, input_html: {placeholder: 'Digite uma senha', value: f.object.password.present? ? f.object.password : ''}
  .col-md-6
    = f.input :password_confirmation, input_html: {placeholder: 'Digite uma senha', value: f.object.password.present? ? f.object.password : ''}
%hr
.row
  .col-md-12
    = f.button :submit, "Atualizar", class: 'btn btn-success', data: {  disable_with: "Aguarde..."}
