- if @upload_document.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal').modal('hide')
  $('.index-doc1').html("#{escape_javascript(render '/social_work_cadastre/cadastres/document_a')}")
