.row.margint50
  .col-md-12.bloco_azul
    .titulo_contato_g.texto-bold.texto-gigante
      Dúvidas // Opiniões

    .corpo_contato_g.texto-gigante
      Entre em contato conosco
      %br
      .texto-bold
        acoescomunitarias@codhab.df.gov.br
