.bxslide_action{:style => "margin-top:30px;"}
  - @action_sliders.each do |slider|
    %li.clone{"aria-hidden" => "true", :style => "height: 413px;"}
      - if slider.thumbnail.present?
        = image_tag slider.thumbnail
      - else
        = image_tag '/portal/images/codhab.png'
