.mt-4
.row
  .col-md-12
    %h5 
      %b Listagem de editais

    .mt-2
    %table.table.table-striped.table-bordered.table-celled
      %thead
        %tr
          %th Nome Edital
      %tbody
        %tr
          %td
            Detalhamento edital