.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h4
              %b Criação de requerimento
            %h6 Formulário de criação de renda
        .row
          .col-md-12
            = render 'form'
