%hr/
.row
  .col-md-12.input-mini
    .row
      .col-md-12{style: 'text-align: center !important;'}
        %h3.title PASSO A PASSO DO PROCESSO DE CREDENCIAMENTO
    %br/
    %p
      1. Acessar o site oficial do Credenciamento:
      = link_to "http://www.codhab.df.gov.br/credenciamento/01-2018", "http://www.codhab.df.gov.br/credenciamento/01-2018"
    %p
      2. Acessar o item de menu “Inscrição”:  informar o CNPJ, a senha de acesso e clicar em “Realizar Acesso”;
    %p
      %b
        1º ETAPA – Identificação da Empresa
    %div{:style => "width:850px; margin: 0 auto;"}
      %p
        1. Verificar os dados cadastrais da empresa informados na inscrição;
      %p
        2. Caso queira fazer alguma edição, clicar no lápis de edição
        =link_to "(vide)", "http://www.codhab.df.gov.br/uploads/archive/files/c9a1e61c610d144a6c73747d14e988d7.png", target: "_blank"
      %p
        3. Informar os “Titulares”
        =link_to "(vide)", "http://www.codhab.df.gov.br/uploads/archive/files/5ae7bce919d2d933770d41531dfdc084.png", target: "_blank"
      %p
        4. Informar o “Quadro Técnico”
        =link_to "(vide)", "http://www.codhab.df.gov.br/uploads/archive/files/618a6313ac847ab318f2fbb973b2e4bf.png", target: "_blank"
      %p
        5. Informar o “Responsável Técnico”
        =link_to "(vide)", "http://www.codhab.df.gov.br/uploads/archive/files/350ce31f67f84b3efbba2a36317b3d59.png", target: "_blank"
      %p
        6.  Após verificar os dados, clicar em “Finalizar Etapa”
        =link_to "(vide)", "http://www.codhab.df.gov.br/uploads/archive/files/40debe153240a0669c93b213b90d3c58.png", target: "_blank"
    %p
      %b
        2º ETAPA – Documentos
    %div{:style => "width:850px; margin: 0 auto;"}
      %p
        1. Informar se a empresa já possui cadastro no SICAF;
      %p
        2. Caso possua, o candidato fica desobrigado de enviar os seguintes documentos:
    %div{:style => "width:800px; margin: 0 auto;"}
      %p
        a) Certidão Negativa de Débitos de Tributos e Contribuições Federai;
      %p
        b) Prova de regularidade com a Fazenda Estadual/Distrital ou Municipal do domicilio ou sede do licitante;
      %p
        c) Prova de regularidade com a Seguridade Social (INSS);
      %p
        d) Prova de regularidade com o Fundo de Garantia por Tempo de Serviço (FGTS);
      %p
        e) Certidão Negativa de Débitos Trabalhistas - CNDT
        =link_to "( www.tst.jus.br ) .", "http://www.tst.jus.br", target: "_blank"
    %div{:style => "width:850px; margin: 0 auto;"}
      %p
        3. Os demais documentos, bem como as “Declarações”, devem ser enviados pelo sistema normalmente
        =link_to "(vide)", "http://www.codhab.df.gov.br/uploads/archive/files/2d1ee9afd1c3b3bbf4d809373344c1d2.png", target: "_blank"
    %div{:style => "width:800px; margin: 0 auto;"}
      %p
        I. Habilitação Jurídica e Regularidade Fiscal;
      %p
        II. Qualificação Técnica;
      %p
        III. Qualificação Econômico Financeira;
      %p
        IV. Declarações.
    %div{:style => "width:850px; margin: 0 auto;"}
      %p
        4. Após enviar toda a documentação requerida, clicar em “Finalizar Etapa”.
    %div{:style => "width:800px; margin: 0 auto;"}
      %p
        Observação: Nesta etapa, o botão de “Finalizar Etapa” só vai constar para a empresa que enviou toda a documentação requisitada;
      %p
        Observação 2: Esta etapa é a mais importante, motivo pelo qual deve-se verificar com cuidado se todos os arquivos requeridos foram enviados corretamente;
      %p
        Observação 3: Caso tenha dúvidas acerca desta etapa e queira fazer uma consulta, envia-la para: credenciamento@codhab.df.gov.br
    %p
      %b
        3º ETAPA – Localidades
    %div{:style => "width:850px; margin: 0 auto;"}
      %p
        1. Verificar os arquivos: Mapa das Poligonais e Mapa das Localidades;
      %p
        2. Escolher as localidades nas quais tem interesse em participar
        =link_to "(vide)" , "http://www.codhab.df.gov.br/uploads/archive/files/5859acb90ec58438fb88686c05ddb214.png", target: "_blank"
      %p
        3. Marcar a “Declaração de Solicitação de Credenciamento”
        =link_to "(vide)" , "http://www.codhab.df.gov.br/uploads/archive/files/225b86b523d5bdce4ac54dc187fb159d.png", target: "_blank"
      %p
        4. Após verificar os dados, clicar em “Finalizar Etapa”.
    %p
      %b
        4º ETAPA – Acompanhamento da inscrição
    %div{:style => "width:850px; margin: 0 auto;"}
      %p
        1. Para saber a situação da inscrição empresa basta que retorne para o item “Identificação da Empresa”  e verifique a opção “Status da Inscrição”
        =link_to "(vide)", "http://www.codhab.df.gov.br/uploads/archive/files/1f1bbf5851564e4f0059a596c0856405.png", target: "_blank"
      %div{:style => "width:800px; margin: 0 auto;"}
        %p
          a)      Em análise: quer dizer que a Comissão está procedendo com a verificação da inscrição da empresa;
        %p
          b)      Habilitado: a empresa foi homologada para participação no Credenciamento 01/2018;
        %p
          c)       Pendências: existem pendências na sua inscrição, as quais podem ser verificadas na área restrita;
        %p
          d)      Não Habilitada: a empresa não foi habilitada para participação no Credenciamento 01/2018.
    %br/
    %p
      %b
        Comissão de Credenciamento 01/2018
