.row
  .col-md-12
    %h4
      %strong Apresentação
%hr/
.row
  .col-md-12
    %p Este ato administrativo trata-se de Credenciamento, com vistas a posterior contratação, de empresas prestadoras de serviços de arquitetura e/ou engenharia para assessorar a Companhia de Desenvolvimento Habitacional do Distrito Federal (CODHAB/DF) na execução do seu Programa de Assistência Técnica para Melhorias Habitacionais em Áreas de Regularização de Interesse Social (ARIS), que ocorre em conformidade com o Projeto na Medida, um dos eixos do Programa Habita Brasília, do Governo do Distrito Federal,  e que dá execução à Lei Federal nº 11. 888/2008. Os serviços auxiliares serão prestados em Áreas de Regularização de Interesse Social (ARIS) definidas neste documento, com vistas à execução de melhorias habitacionais nas residências dos beneficiários contemplados pelo referido Programa.
