.row
  .col-md-12
    %h4
      %strong Apresentação
%hr/
.row
  .col-md-12
    %p{style: 'text-align: justify'} 
      Trata o presente processo de credenciamento de Pessoa Jurídica, devidamente registrada no Conselho Regional de Engenharia e Agronomia (CREA) e/ou no Conselho de Arquitetura e Urbanismo do Brasil (CAU), com vistas à posterior contratação, para a construção de até 108 módulos estruturais de interesse social - conforme descrito no item 4 do Edital- , denominados de "Módulos Embriões", na Região Administrativa de Samambaia RA - XII, de acordo com os projetos técnicos, especificações, serviços e orçamento, contidos no Anexo II e Anexo III do Edital, em atendimento à Política de Desenvolvimento Habitacional do Distrito Federal. As empresas interessadas em participar deverão acessar este site oficial, mais precisamente o item de menu “Inscrições”, mediante o qual se inscreverão no ato administrativo – oportunidade em que apresentarão a documentação requerida em Edital. Nesse sentido, em caso de dúvidas, a interessada poderá consultar a página “Documentos e Anexos”, onde disponibilizamos a listagem dos documentos necessários para melhor compreensão do objeto deste Credenciamento. Por fim, após credenciar-se – conforme documentação requerida no instrumento convocatório -, a empresa receberá um número de inscrição, mediante o qual participará de um sorteio que definirá a ordem de classificação das empresas credenciadas.
    %p{style: 'text-align: center'} 
      %b
        Comissão de Credenciamento 01/2019 
      %br
      Instituída pela Resolução CODHAB 546/2019