-# .row
-#   .col-md-12
-#     %h4
-#       %strong DIVULGAÇÃO DO SORTEIO
-# %hr/
-# .row
-#   .col-md-12
-#     %p
-#       A Companhia de Desenvolvimento Habitacional do Distrito Federal (CODHAB/DF), por meio da sua Diretoria de Assistência Técnica (DIATE), informa que, às 15h00min do dia 19 de julho de 2018, no Setor Comercial Sul, Quadra 06, Lotes 13/14, Bloco A, no  5º Andar, Sala de nº 02 – CEP: 70.306-918 - Brasília-DF, realizou os sorteios que tinham como objetivo ordenar as 15 (quinze) empresas habilitadas – conforme manifestação de interesse de cada-  em cada uma das 10 (dez) localidades disponibilizadas no Edital de Credenciamento nº 01/2018.
-#     %p
-#       Sobre o procedimento, abaixo a descrição dos presentes:
-#     %p
-#       I. Representantes de 10 (dez) empresas habilitadas;
-#       %br
-#       II. 01 (um) auditor da Controladoria Geral do Distrito Federal;
-#       %br
-#       III. Membros da Comissão Permanente de Licitação (CPL); e
-#       %br
-#       IV. 01 (um) Representante da Diretoria de Assistência Técnica (DIATE).
-#       %p
-#         %a{href: "http://extranet.codhab.df.gov.br/uploads/archive/files/e9e3dfba9bb34b2b4129241dee0b5075.pdf", target: "_blank"} Ata dos Procedimentos de Sorteio
-#         %br
-#         %a{href: "http://extranet.codhab.df.gov.br/uploads/archive/files/bc0ca5810677e14b539ec0862e61d1d9.pdf", target: "_blank"}Lista das Empresas Presentes no Sorteio
