.modal-header
  %h5.modal-title CREDENCIAMENTO
  %button.close{"aria-label" => "Fechar", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  %p Texto do corpo do modal, é aqui.
.modal-footer
  %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Fechar
  %button.btn.btn-primary{:type => "button"} Salvar mudanças
