- if @enterprise_situation.errors.any?
  $('#modal .modal-content').html("#{escape_javascript(render 'new')}")
- else
  $('#modal').modal('hide')
  $('.index-enterprise-cadastre').html("#{escape_javascript(render '/firm/enterprise_cadastres/index')}")
