.row
  .col-md-12.box
    .panel.panel-default
      .panel-body
        .row
          .col-md-6.col-md-offset-3
            %h1{style: "text-align: center !important"}
              %b Editar Quadro técnico
              %br/
              %small
                Informe os dados
        %hr/
        .row
          .col-md-12
            %br/
            %br/
            = render 'form_edit'
