<!DOCTYPE html>
<html>
<head>
  <title>Cpl</title>
  <%= stylesheet_link_tag    "cpl/application", media: "all" %>
  <%= javascript_include_tag "cpl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
