= simple_form_for url_for do |f|
  = f.input :content, label: false, as: :text, input_html: { rows: 6 }, placeholder: "Informe sua mensagem"
  = f.submit "Enviar mensagem", class: 'btn btn-success btn-block'