.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row.text-center
          .col-md-12
            %h2
              %b Acesso Restrito
              %br/ 
              %small Recuperação de senha
              %br/
              %br/
              %small= link_to "Retornar para tela de acesso", new_session_path
        .row
          .col-md-12