%h3 
  %b Área restrita
  %br/
  %small Editais - Concorrência
= link_to "Alterar minha senha", "#", class: 'btn btn-default btn-xs'
= link_to "Finalizar sessão", session_path(current_notice_user), method: :delete, class: 'btn btn-default btn-xs', data: { confirm: "Tem certeza que deseja finalizar a sessão?"}