.row
  .col-md-12
    %p
      %h1
        %b CONFIRMAÇÃO DE RECEBIMENTO!
    %p
      Prezado inscrito,
      %br
      %br
      1. Confirmamos o recebimento dos seus dados bancários, o que possibilitará o posterior ressarcimento do valor despendido com a taxa de participação de R$ 300,00 (trezentos reais).
      %br
      %br
      2. Para o e-mail cadastrado no momento da inscrição foi enviada uma confirmação de recebimento dos seus dados, juntamente com um espelho das informações preenchidas.
      %br
      %br
      Seguimos à disposição.
      Equipe Técnica.
