.row
  .col-md-12
    %p
      %h1
        %b Solicitação de reembolso
    %p
      No formulário abaixo, o candidato pagante da taxa de inscrição, terá condições de preencher, de modo seguro, as suas informações bancárias, de posse das quais esta Companhia poderá efetuar o reembolso do valor  despendido: R$ 300,00 (trezentos reais).
    .alert.alert-block{style: 'background-color: #CFCFCF !important'}
      %p
        Obs1. Os dados bancários informados deverão constar no nome do responsável pela inscrição –
        %b
          PESSOA FÍSICA
        , conta na qual a CODHAB/DF fará o crédito.
      %p
        Obs2. Por questões técnicas e legais, após o recebimento dos dados, o ressarcimento poderá levar cerca de 10 (dez) dias úteis para ser concluído.
      %p
        Obs3. Para garantir ao inscrito pagante o conhecimento do momento em que o lançamento do crédito for realizado em sua conta, uma mensagem automática será enviada ao seu e-mail com a respectiva confirmação.
      %p
        Obs4. No caso de dúvidas ou dificuldades, disponibilizamos um endereço de e-mail, por meio do qual o candidato pagante terá acesso ao suporte técnico: concursos@codhab.df.gov.br
.row
  .col-md-12
    = render 'form'
