.row
  .col-md-12
    %p
      %h1
        %b Solicitação de reembolso
    %p
      No formulário abaixo, o candidato pagante da taxa de inscrição, terá condições de preencher, de modo seguro, as suas informações bancárias, de posse das quais esta Companhia poderá efetuar o reembolso do valor  despendido: R$ 300,00 (trezentos reais). 

.row
  .col-md-12
    = render 'form'
