.ui.grid
  .row.mini-margin
    .col-md-12.box
      .panel.panel-default
        .panel-heading
          .row
            .col-md-12
              %h1
                %b Sistema de Cadastro de Empresas
                %br/
                %small  Listagem de Empresas
                %br/
                - if Time.now < Time.parse('2019-09-19 18:00')
                  = link_to 'Cadastrar Empresa', new_cadastre_path, class: 'btn btn-success '# if policy(:control_notice_situation, namespace: Cpl).create?
                = link_to 'Login da Empresa', new_session_path, class: 'btn btn-success ' # if policy(:control_notice_situation, namespace: Cpl).create?
      
