#phone_frame
  #block
    %iframe#iframea{:frameborder => "0", :height => "100%", :name => "iframe_a", :src => "http://mobile.codhab.df.gov.br/?cpf=01801850127", :style => "overflow:hidden; overflow-x:hidden; overflow-y:hidden; height:100%; width:100%;z-index:5;  top:0px;left:0px;right:0px;bottom:0px; -ms-touch-action: none;", :width => "100%"}
:css
  #phone_frame{
    margin:0 auto;
    background:url('portal/phone_frame.png');
    width: 500px;
    height: 1021px;
    background-position: center top;
    background-size: 100% auto;
    
  }
  #block{
    margin:0 auto;
    padding-top: 105px;
    width: 457px;
    height: 923px;
    background:url('/codhabgif0.1.gif') no-repeat;
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
  }