.row.mini-margin
  .col-md-12.box
    .box_internal{style: 'text-align: center !important'}
      .row
        .col-md-12
          .h3.title_projeto
            Faça seu download do aplicativo Codhab
      .row
        .col-md-6
          = link_to image_tag('http://www.codhab.df.gov.br/uploads/archive/files/ac82ec1779b920c8b1d0693695d442ef.png'), 'https://play.google.com/store/apps/details?id=com.codhab.codhabapp&hl=pt_BR', target:'_blank'
        .col-md-6
          = link_to image_tag('http://www.codhab.df.gov.br/uploads/archive/files/266d9e93ea615f16de9cd1d478ca6ce0.png'), 'https://itunes.apple.com/br/app/codhab/id1151183275?mt=8', target: '_blank'
