.container
  .row
    = render('layouts/main/partials/ouvidoria_sidebar')
    .col-md-9.box
      .menu_acesso_0.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
            -# %a.email-tela | Email
        .title.leiacesso_informacao
          Ouvidoria
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVID
          %br
          %br
          %strong Cidadão, este espaço é seu!-
          Utilize o seu direito de colaborar com o Governo do Distrito Federal e registre sua manifestação. Você pode registrar uma reclamação, denúncia, sugestão, elogio e informações de caráter geral sobre serviços da administração pública, tais como horários de funcionamento, números de telefone, endereços, entre outras.
          %br As ouvidorias do Governo do Distrito Federal estão à sua disposição para juntos construirmos uma cidade melhor para todos.
          %br
          %strong Opções de contato -
          internet, telefone e presencialmente - escolha a melhor forma e faça seu registro.
          %br Agora o serviço de ouvidoria conta com novo sistema para registro e acompanhamento de manifestações, o OUV-DF.
          Foram realizadas melhorias para oferecer mais facilidades e informações para você.
          %a{:href => "http://www.ouv.df.gov.br/",:target => "_blank"} clique aqui e confira
          %br
          %br
          %strong Para consultar manifestações registradas antes do dia 05/09/2016 -
          %a{:href => "http://www.ouvidoriageral.df.gov.br/tag/ConsultaManif.dll",:target => "_blank"} clique aqui e confira
          %br
          %br
          %strong Solicitação de Serviço -
          Aqui você também pode solicitar serviço. Se quiser conhecer mais sobre todos os serviços oferecidos acesse o 
          %a{:href => "http://www.df.gov.br/portal-do-cidadao.html",:target => "_blank"} Portal do Governo de Brasília
          %br
          %br
          %strong Caso prefira solicitar um serviço agora
          %a{:href => "http://www.ouv.df.gov.br/",:target => "_blank"} Clique aqui
          %br
          %br
          %strong Lei de Acesso à Informação -
          Você pode solicitar informações sobre ações, programas, despesas, contratos, servidores, entre outros temas previstos na 
          %a{:href => "http://www.ouvidoria.df.gov.br/legislacao-normativos-decretos/",:target => "_blank"} Lei Distrital de Acesso à Informação nº 4.990/2012.
          Este é um direito do cidadão garantido pela Constituição Federal. Confira mais informações no banner de 
          %b 
            Acesso à Informação 
          disponível nos sites dos órgãos do Governo do Distrito Federal. 
          %br
          %br
          %strong Quero fazer um
          %a{:href => "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"} pedido de informação agora
          %br
          %br
          %strong
            %p{:style=> "text-align:center"}Participar é um direito seu!
          %br
          %br
      .menu_acesso_29.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Ouvidoria da CODHAB
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %br A Ouvidoria da CODHAB é uma Ouvidoria Especializada que trabalha para facilitar o contato entre os cidadãos e o Governo do Distrito Federal, atuando no âmbito das questões que envolvam sua área de competência, como:
          %br
          %b - HABILITAÇÃO NO PROGRAMA
          %br
          %b - ENTREGA DE UNIDADE HABITACIONAL
          %br
          %b - ENTREGA DE ESCRITURA PÚBLICA
          %br
          %b - AGENDAMENTO PARA ATENDIMENTO NA CODHAB
          %br
          %b - INFORMAÇÃO DE REGULARIZAÇÃO DE IMÓVEL
          %br
          %b - INFORMAÇÃO DO O APLICATIVO DA CODHAB
          %br
          %br No Governo do Distrito Federal, o Sistema de Gestão de Ouvidoria do Distrito Federal – SIGO/DF é composto pela Controladoria-Geral, Ouvidoria-Geral e Ouvidorias Especializadas. A Ouvidoria-Geral é uma unidade da Controladoria-Geral e coordena os trabalhos das Ouvidorias Especializadas.
          %br Como o papel da ouvidoria é ser o canal de relacionamento direto entre governo e cidadão, a Ouvidoria da CODHAB atua, também, como Serviço de Informação ao Cidadão – SIC – em relação aos assuntos de sua competência. Por meio do SIC qualquer pessoa, física ou jurídica, pode encaminhar pedidos informação para órgãos e entidades do Poder Executivo do Distrito Federal.
          %br
          %strong A Ouvidoria-Geral é a 2ª instância para os serviços de ouvidoria.
          %br
          %spam Caso os serviços de ouvidoria não tenham sido prestados de forma satisfatória e no prazo da lei, procure a Ouvidoria-Geral no Anexo do Palácio do Buriti, 12º andar, sala 1.203,  ou registre sua demanda via internet pedido de informação agora
          %a{:href => "http://www.ouv.df.gov.br/",:target => "_blank"} aqui
          %br
          %br
      .menu_acesso_30.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Perfil do Ouvidor
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          =image_tag("http://www.codhab.df.gov.br/uploads/archive/files/1edbf450f5832ef107b2eac64e11e619.jpg", width: '157px')
          %br
          %strong José Raimundo Félix
          %br Data da Nomeação: 20/01/2017
          %br
          %strong Resumo Profissional
          %br
          %br - Bacharel em Administração de Empresas pela Universidade do Distrito Federal—AEU/DF.
          %br - Pós Graduando: Gestão em Adm. Pública. Faculdade Laboro
          %br - Pós-Graduação: Gestão e Docência de Ensino Superior
          %br - Mestrando: Ciências da Educação em Administração e Organização Escolar – Universidade Católica de Braga - Portugal
          %br - Formação em Gestão em Administração Pública—CENED.
          %br - Formação em Auditoria Governamental—ELO
          %br - Curso em Execução de Contrato, ministrado pela Escola de Governo—Escola de Governo
          %br - Mediação de Conflitos—Escola de Governo
          %br - Curso de formação em Ouvidoria Avançado—Escola de Governo
          %br - Curso Gestão de Atendimento em Ouvidoria—Escola de Governo
          %br
          %br Servidor Público da Carreira de Administração Pública desde 1982, ocupando cargos de Assessoria em Gerência de Administração Geral, Diretorias de Administração Geral e Gabinete da Presidência;
          Atuou como Diretor de Administração Geral da Administração de Brasília em 2010. A partir de 2011, requisitado para CODHAB, como Assessor Sênior da Presidência, Chefe de Auditoria e atualmente como chefe da Ouvidoria.

          %br
          %br
          %br
      .menu_acesso_31.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Tipos de Manifestação
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong RECLAMAÇÃO:
          manifestação de desagrado, uma queixa ou crítica sobre um serviço prestado, ação ou omissão da administração e/ou do servidor público, considerado ineficiente, ineficaz ou não efetivo.
          %br
          %br
          %strong DENÚNCIA:
          comunicação de irregularidades ocorridas no âmbito da administração pública ou apontamento de exercício negligente ou abusivo dos cargos, empregos e funções, como também infrações disciplinares ou prática de atos de corrupção, ou improbidade administrativa, que venham ferir a ética e a legislação.
          %br
          %br
          %strong ELOGIO:
          demonstração de apreço, reconhecimento ou satisfação sobre o serviço recebido ou relativo a pessoas que participaram do serviço/atendimento.
          %br
          %br
          %strong SUGESTÃO:
          manifestação que apresenta uma ideia ou proposta para o aprimoramento dos serviços realizados pela administração pública distrital, ainda que associada a uma reclamação específica.
          %br
          %br
          %strong INFORMAÇÃO:
          Manifestação em que o cidadão requer informações de caráter geral sobre serviços e procedimentos da administração pública, tais como horários de funcionamento, números de telefone, endereços, dentre outras.
          %br
          %br
      .menu_acesso_32.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Canais de Atendimento
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong Para manifestações de ouvidoria
          %br Reclamações, denúncias, sugestões, elogios e informações de caráter geral sobre serviços da administração pública, tais como horários de funcionamento, números de telefone, endereços, entre outras.

          %br
          %strong Registre sua manifestação via internet
          comunicação de irregularidades ocorridas no âmbito da administração pública ou apontamento de exercício negligente ou abusivo dos cargos, empregos e funções, como também infrações disciplinares ou prática de atos de corrupção, ou improbidade administrativa, que venham ferir a ética e a legislação.
          %a{:href => "http://www.ouv.df.gov.br/",:target => "_blank"} Quero registrar agora.
          %br
          %br
          %strong Ligue 162
          %br Central de atendimento do GDF gratuita para ligações realizadas de telefone fixo e pelo celular, exclusiva para assuntos de ouvidoria, como reclamações, sugestões, elogios, denúncias e informações de caráter geral sobre serviços da administração pública, tais como horários de funcionamento, números de telefone, endereços, entre outras.
          %br
          %b
            Atendimento presencial
          %br
          SCS QUADRA 06 EDIFICIO SEDHAB 6 º ANDAR— DAS 08 ÁS 12H—14H ÁS 18H – Agendamento por meio do telefone 3214-1843.
          %br
          %br
          %strong Para obter informações públicas sobre o GDF
          %strong
            %br Via internet
          %spam Busque a informação no link do Acesso à informação que está disponível em todos os sites do GDF ou acesse o Portal da Transparência. Caso não encontre o quê procura que procura, faça um Pedido de Informação por meio do sistema e-SIC. Os temas e tipos de informação que podem ser solicitadas constam no artigo
          %a{:href => "http://www.ouvidoria.df.gov.br/legislacao-normativos-decretos/",:target => "_blank"} 7º da Lei Distrital de Acesso à informação nº 4.990/2012.
          %br
          %a{:href => "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"} Quero registrar agora.
          %br
          %br
          %br
          %br
      .menu_acesso_33.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Requisitos e Documentos
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong Requisitos e Documentos
          %br Elementos fundamentais para o registro de uma denúncia:
          %br - NOMES de pessoas e empresas envolvidas
          %br - QUANDO ocorreu o fato
          %br - ONDE ocorreu o fato
          %br - Quem pode TESTEMUNHAR
          %br - Se a pessoa pode apresentar PROVAS
          %br
          %strong Tratamento específico para denúncias:
          Avaliação, classificação e encaminhamento realizados pela Ouvidoria-Geral do Distrito Federal.
          %br
          %strong Registro identificado
          %br	- Apresentação de documento de identificação válido (CI, Cadastro de Pessoas Físicas – CPF, Cadastro Nacional de Pessoas Jurídicas – CNPJ, Título de Eleitor, Passaporte, Carteira de Trabalho, Carteira Funcional, Carteira de Habilitação (modelo novo) e Certificado de Reservista).
          %br	- Possibilidade de sigilo conforme Art. 23, inciso I, do Decreto nº 36.462/2015. 
          %b Registro anônimo
          Haverá análise preliminar para confirmar se os fatos apresentados são verdadeiros.
          %br
          %br
      .menu_acesso_34.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Passo a Passo
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong Etapas do atendimento
          %br
          %br 1º Registro
          %br 2º Encaminhamento ao órgão ou entidade responsável
          %br 3º Análise da demanda
          %br 4º Registro da resposta ao cidadão
          %br
          %strong ATENÇÃO:
          Acompanhe o andamento da sua demanda, mediante apresentação do protocolo e senha. Ligue 162 ou
          %a{:href => "http://www.ouv.df.gov.br/",:target => "_blank"} acesse aqui.
          %br
          %br
          %strong Prazos
          %br
          %strong Posição inicial -
          10 dias (a contar da data do registro)
          %br
          %strong Resposta final -
          20 dias (a contar da data do registro)
          %br
          %strong Exclusivamente para denúncias -
          poderá haver prorrogação de mais 20 dias (a contar da data do registro)
          %br
          %br
          %strong Indisponibilidade do sistema informatizado
          %br Quando o sistema de ouvidoria estiver indisponível, o cidadão deverá ter sua manifestação registrada em formulário impresso
          e receberá o número do protocolo assim que o sistema voltar a funcionar dentro da normalidade.
          %br
          %br
      .menu_acesso_35.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Perguntas Frequentes
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong Quem pode registrar uma manifestação de ouvidoria?
          %br Qualquer pessoa física ou jurídica.
          %br
          %strong Que tipos de manifestações podem ser registradas?
          %br Reclamações, sugestões, elogios, informações e denúncias.
          %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_31"} Saiba mais.
          %br
          %br
          %strong ATENÇÃO:
          Acompanhe o andamento da sua demanda, mediante apresentação do protocolo e senha. Ligue 162 ou
          %a{:href => "http://www.ouv.df.gov.br/",:target => "_blank"} acesse aqui.
          %br
          %br
          %strong Prazos
          %br
          %strong Posição inicial -
          10 dias (a contar da data do registro)
          %br
          %strong Resposta final -
          20 dias (a contar da data do registro)
          %br
          %strong Exclusivamente para denúncias -
          poderá haver prorrogação de mais 20 dias (a contar da data do registro)
          %br
          %br
          %strong Quais dados são necessários para o registro?
          %br
          %strong Denúncia:
          %br quem, como, onde, quando e por quê. Outras informações também podem contribuir para a apuração da denúncia, tais como:
          %br	- nomes de pessoas e empresas envolvidas;
          %br - tempo em que se deu o fato e se, ainda, ocorre;
          %br - se a pessoa pode comprová-lo;
          %br - se há mais alguém que possa ser procurado para falar sobre o assunto; e
          %br - se presenciou a situação que está denunciando ou apenas ouviu falar.
          %br
          %strong Demais tipos:
          dados pessoais do cidadão que está se manifestando, assunto e descrição do fato.
          %br
          %br
          %strong É possível enviar documentos referentes à manifestação?
          %br Sim. Para anexar fotos, vídeos ou documentos à manifestação, procure a Ouvidoria-Geral, localizada no anexo do Palácio do Buriti, 12º andar, sala 1203.
          %br
          %br
          %strong É necessária a identificação  para efetuar o registro?
          %br A identificação não é obrigatória. Todo registro identificado tem garantia total de sigilo dos dados, conforme art. 23, I do Decreto nº 36.462/2015. 
          %br
          %br
          %strong Como acompanhar o andamento da manifestação?
          %br Para acompanhamento, basta ter a senha de acesso ao sistema recebida no ato do registro da manifestação e o número do protocolo em mãos.
          %a{:href => "https://www.ouv.df.gov.br/#/",:target => "_blank"}.
          %br
          %br
          %strong O que fazer no caso de esquecimento da senha e/ou o número do protocolo?
          %br Caso o registro tenha sido identificado, ligue na Central 162 ou vá até uma ouvidoria especializada e informe o nome completo do manifestante e/ou documento de identificação apresentado no registro. Veja os endereços
          %a{:href => "http://www.ouvidoria.df.gov.br/category/espaco-do-ouvidor/endereco-das-ouvidorias/",:target => "_blank"}  aqui
          %br
          %br
          %strong Qual prazo para obter resposta?
          %br
          %strong 10 dias -
          O órgão responsável terá dez (10) dias, a partir da data de registro da manifestação, para informar as primeiras providências adotadas. 
          %br
          %strong 20 dias -
          O órgão responsável pela apuração terá o prazo de até vinte (20) dias, a contar do registro da manifestação, para apurar e informar o resultado. 
          %br
          %strong Prorrogação para Denúncias -
          no decorrer da apuração, caso o órgão responsável necessite de prazo suplementar, deverá formular solicitação à Ouvidoria-Geral (Órgão Central do SIGO/DF), a qual promoverá a avaliação do pedido, podendo conceder prorrogação do prazo por mais vinte (20) dias. 
          %br
          %br A prorrogação do prazo será apreciada em até cinco (5) dias, a contar do recebimento da solicitação. 
          %br
          %br
          %strong Como complementar o registro realizado?
          %br Para complementação, basta acessar o sistema de ouvidoria com a senha de acesso e o número do protocolo em mãos, e inserir as informações.
          %a{:href => "https://www.ouv.df.gov.br/#/",:target => "_blank"}.
          %br
          %br
          %strong Como cancelar um registro realizado?
          %br Depois de concluído o registro da manifestação, não é possível excluí-lo. Mas, caso seja do interesse do manifestante desistir da demanda, basta solicitar o cancelamento na opção Complementação. No caso de denúncia, esse cancelamento só será permitido desde que ainda não tenha iniciado procedimento disciplinar. Quero cancelar o registro agora
          %a{:href => "http://www.ouv.df.gov.br/",:target => "_blank"}.
          %br
          %br
          %strong A Solicitação de Serviço pode ser realizada pela Ouvidoria?
          %br Antes de registrar a solicitação acesse o
          %a{:href => "http://www.brasilia.df.gov.br/category/servicos-2/",:target => "_blank"} Portal do Governo do Distrito Federal 
          Fique atento quanto aos serviços que oferecem atendimento especializado, por meio de sistema informatizado próprio, como é o caso do Detran e Secretaria de Fazenda. Caso não encontre o serviço desejado nesse Portal, registre sua solicitação em uma ouvidoria especializada.
          %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_32"} Clique aqui
          e consulte os canais de atendimento
          %br
          %br
          %strong O Pedido de Informação é realizado pelo mesmo canal das manifestações de Ouvidoria?
          %br Não. O pedido de Informação é registrado em sistema próprio, podendo ser feito via internet
          %a{:href => "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"} internet—www.e-sic.df.gov.br.
          ou pessoalmente nas 
          %a{:href => "http://www.ouvidoria.df.gov.br/category/espaco-do-ouvidor/endereco-das-ouvidorias/",:target => "_blank"} — ouvidorias
          Antes de registrar seu pedido, visite o link “Acesso à informação” que está disponível em todos os sites do Governo do Distrito Federal ou acesse o Portal da Transparência. Caso não encontre as informações procuradas, registre o seu Pedido.
          %br
          %br
      .menu_acesso_36.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Normas e Regulamentações
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong Leis
          %br
          %strong Lei de Acesso à informação –  Distrital
          %a{:href => "http://www.fazenda.df.gov.br/aplicacoes/legislacao/legislacao/TelaSaidaDocumento.cfm?txtNumero=4990&txtAno=2012&txtTipo=5&txtParte=.",:target => "_blank"} ( LEI Nº 4.990, DE 12 DE DEZEMBRO DE 2012)
          %br
          %strong Sistema de Gestão de Ouvidoria SIGO-DF
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/146a70f08b6fc112a438ec48e304eeb3.pdf",:target => "_blank"} (LEI Nº 4.896, DE 31 DE JULHO DE 2012)
          %br
          %strong Regime Jurídico do GDF  
          %a{:href => "http://www.fazenda.df.gov.br/aplicacoes/legislacao/legislacao/TelaSaidaDocumento.cfm?txtNumero=840&txtAno=2011&txtTipo=4&txtParte=.",:target => "_blank"} (LEI COMPLEMENTAR Nº 840, DE 23 DE DEZEMBRO DE 2011)
          %br
          %strong Lei de Acesso à informação –  Federal   
          %a{:href => "http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm",:target => "_blank"} (LEI FEDERAL Nº 12.527, 18 DE NOVEMBRO DE 2011)
          %br
          %br
          %strong DECRETOS
          %br
          %strong Sistema de Gestão de Ouvidoria SIGO-DF
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/dd638ce478958bdd31279023128a0d61.pdf",:target => "_blank"} (DECRETO Nº 36.462, DE 23 DE ABRIL DE 2015)
          %br
          %strong Institui a Carta de Serviços ao Cidadão
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/363f41983f1b6885f9dc6bd16d4af372.pdf",:target => "_blank"} (DECRETO N° 36.419, DE 25 DE MARÇO DE 2015)
          %br
          %strong Procedimentos para credenciamento de segurança da Informação  
          %a{:href => "http://www.fazenda.df.gov.br/aplicacoes/legislacao/legislacao/TelaSaidaDocumento.cfm?txtNumero=35382&txtAno=2014&txtTipo=6&txtParte=.",:target => "_blank"} (DECRETO  nº 35.382, DE 29 DE ABRIL DE 2014)
          %br
          %strong Regulamenta a Lei de Acesso à Informação no âmbito distrital    
          %a{:href => "http://www.fazenda.df.gov.br/aplicacoes/legislacao/legislacao/TelaSaidaDocumento.cfm?txtNumero=34276&txtAno=2013&txtTipo=6&txtParte=.",:target => "_blank"} (DECRETO Nº 34.276, DE 11 DE ABRIL DE 2013)
          %br
          %strong Fraseologia anticorrupção em editais de licitação, contratos – GDF     
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/11d259ce6b540436c4400ffc1df83910.pdf",:target => "_blank"} (DECRETO Nº 34.031, DE 12 DE DEZEMBRO DE 2012)
          %br
          %strong Credenciamento de segurança e tratamento de informação      
          %a{:href => "http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/decreto/d7845.htm",:target => "_blank"} (DECRETO Nº 7.845, DE 14 DE NOVEMBRO DE 2012)
          %br
          %strong Supervisão técnica e a orientação normativa da STC – DF        
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/622a3b03a07c3e61f45f93f8b794b6b5.pdf",:target => "_blank"} (DECRETO Nº 32.840, DE 06 DE ABRIL DE 2011)
          %br
          %br
          %strong INSTRUÇÃO NORMATIVA
          %br
          %strong Guia Metodológico e Estratégia de Implantação da Carta de Serviços ao Cidadão do Distrito Federal
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/db7cf6f30b40db2e97d3bc0d165b4785.pdf",:target => "_blank"} (INSTRUÇÃO NORMATIVA Nº 1, DE 26 DE MARÇO DE 2015)
          %br
          %strong Disciplina a realização da investigação preliminar no âmbito dos órgãos e entidades da Administração Direta e Indireta do Poder Executivo
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/065b331200dcf1b656b70e6c559ee60e.pdf",:target => "_blank"} (INSTRUÇÃO NORMATIVA N° 4, DE 13 DE JULHO DE 2012)
          %br
          %strong Regulamenta os procedimentos dos serviços de ouvidoria tratados na Lei nº 4.896/2012, Decreto nº 36.462, de 23 de abril de 2015 e estabelece instrumentos de responsabilização dos participantes da rede de ouvidorias e áreas envolvidas
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/53a74d452f89f077037dad6c7a603231.pdf",:target => "_blank"} (INSTRUÇÃO NORMATIVA Nº 01, DE 05 DE MAIO DE 2017)
          %br
          %br
      .menu_acesso_37.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Relatório de Ouvidoria
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong
          %br
          %br
      .menu_acesso_38.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Serviço de Informação ao Cidadão - sic
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %br As Ouvidorias do Governo do Distrito Federal também atuam como Serviço de Informações ao Cidadão - SIC.
          %br Com a publicação da Lei de Acesso à Informação Distrital nº 4.990/2012
          %a{:href => "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"} acesse aqui
          você passa a ter o direito de registrar um Pedido de Informação sobre ações, programas, despesas, contratos, servidores, entre outros temas previstos na lei.
          %br Navegue pelo Menu abaixo e saiba mais sobre esse serviço.
          %br
          %br
      .menu_acesso_39.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Registrar um pedido de Informação
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong Registrar um Pedido de Informação
          %a{:href => "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"} acesse aqui.
          %br
          %b O que é um Pedido de Informação 
          %br
          %br É uma solicitação de informações sobre ações, programas, despesas, contratos, servidores, entre outros temas previstos na Lei Distrital de Acesso à Informação nº 4.990/2012
          %a{:href => "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"} acesse aqui.
          %br Antes de registrar seu pedido, visite o link “Acesso à informação” que está disponível em todos os sites do Governo do Distrito Federal ou acesse o Portal da Transparência. Caso não encontre as informações procuradas, registre o seu Pedido.
      .menu_acesso_40.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Requisitos e Documentos
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong O Pedido de Informação deverá conter:
          %br
          %br - Nome do requerente.
          %br - Apresentação de documento de identificação válido (Carteira de identidade, Cadastro de Pessoas Físicas – CPF, Cadastro Nacional de Pessoas Jurídicas – CNPJ, Título de Eleitor, Passaporte,  Carteira de Trabalho, Carteira Funcional, Carteira de Habilitação (modelo novo) e Certificado de Reservista).
          %br - Especificação, de forma clara e precisa, da  informação requerida.
          %br - Endereço físico ou eletrônico do requerente, para recebimento de comunicações ou da informação requerida.
          %br
          %strong{:style=> "text-align:center"}
            %br Importante
          %br Não será atendido Pedido de Informação genérico, desproporcional, desarrazoado, que exija trabalho adicional de análise, interpretação, consolidação de dados e informações, serviço de produção ou tratamento de dados que não seja de competência do órgão ou entidade.
      .menu_acesso_41.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Canais de atendimento
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong Para registrar um Pedido de Informação
          %br
          %br Antes de registrar seu Pedido de Informação, busque a informação no link do Acesso à informação que está disponível em todos os sites do GDF ou acesse o Portal da Transparência.
          %br
          %strong Via internet
          %br
          %br Caso não encontre o que procura, faça um Pedido de Informação por meio do sistema e-SIC.  Os temas e tipos de informação que podem ser solicitadas constam no artigo 7º da Lei Distrital de Acesso à informação nº 4.990/2012
          %a{:href => "http://www.fazenda.df.gov.br/aplicacoes/legislacao/legislacao/TelaSaidaDocumento.cfm?txtNumero=4990&txtAno=2012&txtTipo=5&txtParte=.",:target => "_blank"} acesse aqui.
          %br
          %strong Quero registrar agora
          %a{:href => "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"} acesse aqui.
          %br
          %br
          %strong Presencial
          %br
          %br Atendimento presencial oferecido em todas as ouvidorias. 
          %a{:href => "http://www.ouvidoria.df.gov.br/category/espaco-do-ouvidor/endereco-das-ouvidorias/",:target => "_blank"} acesse aqui.
          e consulte o endereço da ouvidoria do seu interesse.
          %br
          %br
      .menu_acesso_42.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Passo a Passo
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong ETAPAS
          %br
          %strong 1º Passo -
          Registro do Pedido de Informação.
          %br
          %strong 2º Passo -
          Órgão responsável analisa a disponibilidade da informação.
          %br
          %strong 3º Passo -
          Envio da resposta ao cidadão.
          %br
          %strong CASOS EM QUE AS INFORMAÇÕES PODEM SER NEGADAS
          %br
          %br - Quando o documento se referir à investigação sigilosa.
          %br - Documentos classificados como reservado, secreto ou ultrassecreto.
          %br - Quando envolver dados pessoais de terceiros, que não seja o solicitante.
          %br
          %strong QUANDO O CIDADÃO NÃO FICOU SATISFEITO COM A RESPOSTA
          %br
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/944313e8170c45fe1ac3e1cd01f55130.png', :style=> "width: 280px")
          %br
          %b QUANDO O CIDADÃO NÃO RECEBE RESPOSTA 
          %br Após passados os 30 dias, se o órgão demandado não enviar resposta. Você pode, em até 10 dias, registrar uma reclamação pelos mesmos canais de atendimento do registro. E o órgão terá até 5 dias para enviar resposta.
          %br
          %strong O SERVIÇO É GRATUITO
          %br
          %br Serão cobradas apenas as reproduções de:
          %br - Cópias de documentos
          %br - Gravação de mídias
          %br - Envios postais
          %br
          %br * Os valores atendem à Portaria nº 116, de 11 de junho de 2008 – Secretaria de Estado de Planejamento e Gestão do Distrito Federal.
          %br
          %br
          %br
      .menu_acesso_43.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Prazos
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/a2b95970e50bd84a396b7d8f708ced63.png', :style=> "width: 750px")
          %br
          %br
          %br
      .menu_acesso_44.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Normas e Regulamentações
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %br
          %strong Leis
          %br
          %Strong Lei de Acesso à informação –  Distrital
          %a{:href => "http://www.fazenda.df.gov.br/aplicacoes/legislacao/legislacao/TelaSaidaDocumento.cfm?txtNumero=4990&txtAno=2012&txtTipo=5&txtParte=.",:target => "_blank"} (LEI Nº 4.990, DE 12 DE DEZEMBRO DE 2012)
          %br
          %strong Lei de Acesso à informação –  Federal
          %a{:href => "http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm",:target => "_blank"} (LEI FEDERAL Nº 12.527/2011)
          %br
          %br
          %strong DECRETOS
          %br
          %strong Procedimentos para credenciamento de segurança da Informação
          %a{:href => "http://www.fazenda.df.gov.br/aplicacoes/legislacao/legislacao/TelaSaidaDocumento.cfm?txtNumero=35382&txtAno=2014&txtTipo=6&txtParte=.",:target => "_blank"} (DECRETO  nº 35.382, DE 29 DE ABRIL DE 2014)
          %strong Regulamenta a Lei de Acesso à Informação no âmbito distrital
          %a{:href => "http://www.fazenda.df.gov.br/aplicacoes/legislacao/legislacao/TelaSaidaDocumento.cfm?txtNumero=34276&txtAno=2013&txtTipo=6&txtParte=.",:target => "_blank"} (DECRETO Nº 34.276, DE 11 DE ABRIL DE 2013)
          %strong Credenciamento de segurança e tratamento de informação
          %a{:href => "http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/decreto/d7845.htm",:target => "_blank"} (DECRETO Nº 7.845, DE 14 DE NOVEMBRO DE 2012)
          %br
          %br
      .menu_acesso_45.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Carta de Serviços ao Cidadão
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2018 - OUVIDORIA
          %br
          %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/db78bf64f0c413b098f62810451919a5.pdf", :target => "_blank"} Baixar ou visualizar em PDF
          %br
          %br
          <iframe width="700px" height="600px" src="https://www.yumpu.com/pt/embed/view/N326wgehsBOx7kfM" frameborder="0" allowfullscreen="true" allowtransparency="true"></iframe>
          %br
