.row.mini-margin
  .col-md-12.box
    .box_internal{style: 'text-align: center !important'}
      .row
        .col-md-12
          %br/
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/8198900dc1e05f0dada0b4de26ae04df.png', width: '99%')
