.row.mini-margin
  .col-md-12.box
    .box_internal{style: 'text-align: center !important'}
      .row
        .col-md-12
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/015bc214ef03ea2cad0a36ddc37cadc0.jpg', width: '99%')
