.container
  .row
    .col-md-9.box
      .box_internal
        .post_meta
        .post
          .h3.title_projetos
            Selagem Crixá
          #area1.col-md-6.custom_cut.margint50
            %img{:alt => "area total", :src => "http://www.codhab.df.gov.br/uploads/archive/files/ed44e4535147750f9bc6d0e46c3071c8.png",:style =>"width:100%"}
          .col-md-6.margint50
            %h1
              %strong Lista de áreas
            %ul.areatotal
              %li.areatotal
                %a{:href => "http://www.codhab.df.gov.br/selagemcrixa_area1", :target => "_blank"} Clique para visualizar Área 1
              %li
                %a{:href => "http://www.codhab.df.gov.br/selagemcrixa_area2", :target => "_blank"} Clique para visualizar Área 2
              %li
                %a{:href => "http://www.codhab.df.gov.br/selagemcrixa_area3", :target => "_blank"} Clique para visualizar Área 3
              %li
                %a{:href => "http://www.codhab.df.gov.br/selagemcrixa_area4", :target => "_blank"} Clique para visualizar Área 4
              %li
                %a{:href => "http://www.codhab.df.gov.br/selagemcrixa_area5", :target => "_blank"} Clique para visualizar Área 5
              %li
                %a{:href => "http://www.codhab.df.gov.br/selagemcrixa_area6", :target => "_blank"} Clique para visualizar Área 6
    = render('layouts/portal/sidebar')
