.container
  .row
    .col-md-9.box
      .box_internal
        .post_meta
        .post
          .h3.title_projetos
            Selagem Bonsucesso
          #area1.col-md-6.custom_cut.margint50
            %img{:alt => "area total", :src => "	http://www.codhab.df.gov.br/uploads/archive/files/c6df9e3e2110a65d5b88b15f3473eefc.jpg",:style =>"width:100%"}
          .col-md-6.margint50
            %h1
              %strong Lista de áreas
            %ul.areatotal
              %li.areatotal
                %a{:href => "http://www.codhab.df.gov.br/selagem_bonsucesso_area1", :target => "_blank"} Clique para visualizar Área 1
              %li
                %a{:href => "http://www.codhab.df.gov.br/selagem_bonsucesso_area2", :target => "_blank"} Clique para visualizar Área 2
              %li
                %a{:href => "http://www.codhab.df.gov.br/selagem_bonsucesso_area3", :target => "_blank"} Clique para visualizar Área 3
              %li
                %a{:href => "http://www.codhab.df.gov.br/selagem_bonsucesso_area4", :target => "_blank"} Clique para visualizar Área 4
    = render('layouts/portal/sidebar')
