.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h4
              %b
                Endereço Vinculado
        .row
          .col-md-12
            - if @address.present?
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Cidade
                    %th Endereço
                %tbody
                  %tr
                    %td= @address.unit.city.name rescue nil
                    %td= @address.unit.complete_address rescue nil
                %thead
                  %tr
                    %th Situação
                    %th Data
                %tbody
                  %tr
                    %td= @address.situation_id.mb_chars.upcase  rescue nil
                    %td= @address.created_at.strftime('%d/%m/%Y') rescue nil
            - else
              %i Candidato não tem vínculo com endereço.
