.col-md-12
  .panel.panel-default
    .panel-body
      .row
        .col-md-12
          .row
            .col-md-12
              %h3
                %b Venda
                %br
                %br
                = link_to "Voltar para listagem", enterprise_cadastres_path, class: "btn btn-default"
                %br
                %br
          = render 'form'
