.col-md-3.box.box_internal
  .title.acesso_informacao
    Menus
  %ul.siderbar_acesso2
    %li.menu_acesso
      %a.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle0","acesso" => "menu_acesso_0" ,"data-toggle" => "collapse", :href => "#"}
        %span
        Iniciar

      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle8", "data-toggle" => "collapse", :href => "#"} 
        %i.fa.fa-plus-circle
        Carta de serviço
      #toggle8.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_0"} Apresentação da carta
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/234"} Habita brasilia
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/235"} Morar bem
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/236"} GerÊncia de Mobilização Social
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/238"} Lote Legal
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/239"} Regularização
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/237"} Projeto de Medida
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/240"} Assistência Técnica
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/241"} Porta Abertas
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/242"} Aluguel Legal
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/243"} Antiga SHIS
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/244"} Ouvidoria
          
      %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_29"} Ouvidoria 
      
      %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_35"} Serviços de Informação ao Cidadão (SIC) 

      %a.collapsed.title_menu_acesso{:href => "http://www.codhab.df.gov.br/uploads/archive/files/db78bf64f0c413b098f62810451919a5.pdf"} Imprima aqui a Carta de Serviços (PDF)
      
      %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_38"} Avaliação da Carta de Serviços
      
     