.col-md-3.box.box_internal
  .title.acesso_informacao
    Menus
  %ul.siderbar_acesso2
    %li.menu_acesso
      %a.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle0","acesso" => "menu_acesso_0" ,"data-toggle" => "collapse", :href => "#"}
        %span
        Iniciar

      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle8", "data-toggle" => "collapse", :href => "#"}
        %i.fa.fa-plus-circle
        Ouvidoria
      #toggle8.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_29"} Ouvidoria da CODHAB
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_30"} Perfil do Ouvidor
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_31"} Tipos de manifestação
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_32"} Canais de Atendimento
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_33"} Requisitos e Documentos
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_34"} Passo a Passo
      %li.menu_acesso
        %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle9", "data-toggle" => "collapse", :href => "#"}
          %i.fa.fa-plus-circle
          Saber Mais
        #toggle9.collapse.title_menu_acesso{:style => "height: 0px;"}
          %ul.nav.nav-list
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_35"} Perguntas Frequentes
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_36"} Normas e Regulamentações
            %li.menu_acesso
              %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle12", "data-toggle" => "collapse", :href => "#",} 
                %i.fa.fa-plus-circle
                Relatórios de Ouvidoria
              #toggle12.collapse.title_menu_acesso{:style => "height: 0px;"}
                %ul.nav.nav-list
                  %li.menu_acesso
                    %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/uploads/archive/files/bdb6672b5a58becda1c7255d46ac9e59.pdf"} 1° trimestre/2019
                    %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/uploads/archive/files/16b7b604c0e48f8b0177cab06524e226.pdf"} 2° trimestre/2019
      %li.menu_acesso
        %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle10", "data-toggle" => "collapse", :href => "#",}
          %i.fa.fa-plus-circle
          SIC
        #toggle10.collapse.title_menu_acesso{:style => "height: 0px;"}
          %ul.nav.nav-list
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_38"} Serviços de Informação ao Cidadão - SIC
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_39"} Registrar um pedido de Informação /  O que é um Pedido de Informação
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_40"} Requisitos e documentos
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_41"} Canais de atendimento
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_42"} Passo a Passo
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_43"} Prazos
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_44"} Normas e Regulamentações
      %li.menu_acesso
        %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle11", "data-toggle" => "collapse", :href => "#",}
          %i.fa.fa-plus-circle
          Conheça os demais Serviços
        #toggle11.collapse.title_menu_acesso{:style => "height: 0px;"}
          %ul.nav.nav-list
            %li.menu_acesso
              %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_45"} Carta de Serviços
