.col-md-3.box.box_internal
  .title.acesso_informacao
    Menu
  %ul.siderbar_acesso2
    %li.menu_acesso
      %a.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle0","acesso" => "menu_acesso_0" ,"data-toggle" => "collapse", :href => "#"}
        %span
        Iniciar
    -# %li.menu_acesso
    -#   %a.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle0","acesso" => "menu_acesso_0" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/251"}
    -#     %span
    -#     Metas 2018
    %li.menu_acesso
      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle1", "data-toggle" => "collapse", :href => "#",}
        %i.fa.fa-plus-circle
        Institucional
      #toggle1.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_1"} Estrutura
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_2"} Competências
          %li.menu_acesso
            %a.menu_acesso_info{:href => "http://www.codhab.df.gov.br/pagina/8"} Quem é quem
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_5"} Contatos
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_40"} Fluxos Internos
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_60"} Normas e Procedimentos
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_3"} Base Jurídica
            %ul.sub.list
              %li.menu_acesso
                %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_18"} Legislação
              %li.menu_acesso
                %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_19"} Resoluções
              %li.menu_acesso
                %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_20"} TAC
              %li.menu_acesso
                %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_27"} Decreto
    %li.menu_acesso
      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle2", "data-toggle" => "collapse", :href => "#",}
        %i.fa.fa-plus-circle
        Ações e Programas
      #toggle2.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_6"} Plano Plurianual/Execução orçamentaria e Financeira
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_7"} Resultados Alcançados

    %li.menu_acesso
      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle3", "data-toggle" => "collapse", :href => "#",}
        %i.fa.fa-plus-circle
        Auditorias
      #toggle3.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_8"} Relatório de auditoria

    %li.menu_acesso
      %a.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "#"}
        %span
        Convênios
    %li.menu_acesso
      %a.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_14" ,"data-toggle" => "collapse", :href => "#"}
        %span
        Informações Classificadas
    %li.menu_acesso
      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle4", "data-toggle" => "collapse", :href => "#",}
        %i.fa.fa-plus-circle
        Despesas
      #toggle4.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_10"} Despesas Públicas
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_11"} Diárias e passagens
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_13"} Servidores
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_12"} Fundos Públicos
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_24"} Suprimento de Fundos
    %li.menu_acesso
      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle5", "data-toggle" => "collapse", :href => "#",}
        %i.fa.fa-plus-circle
        Licitações e Contratos
      #toggle5.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_22"} Licitações
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_9"} Contratos Administrativos
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_26"} Atas de Registro de Preços
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_23"} Contratos de obra
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_37"} Regulamento Interno - Licitações

    %li.menu_acesso
      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle6", "data-toggle" => "collapse", :href => "#",}
        %i.fa.fa-plus-circle
        Perguntas Frequentes
      #toggle6.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_16"} Perguntas Frequentes da CODHAB
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_15"} Perguntas Frequentes da LAI
    %li.menu_acesso
      %a.collapsed.title_menu_acesso{"data-parent" => "#sidenav01", "data-target" => "#toggle7", "data-toggle" => "collapse", :href => "#",}
        %i.fa.fa-plus-circle
        Informação ao cidadão
      #toggle7.collapse.title_menu_acesso{:style => "height: 0px;"}
        %ul.nav.nav-list
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_17"} Informação ao cidadão - SIC
          %li.menu_acesso
            %a.menu_acesso_info{:href => "#","acesso" => "menu_acesso_25"} Carta de Serviços ao Cidadão
          %li.menu_acesso
            %a.menu_acesso.menu_acesso_info{:href => "http://www.codhab.df.gov.br/termos_de_uso",:target => "_blank"}
              %span
              Termos de Uso (Aplicativos)


  -# .container
  -#   .botoes1
  -#     = link_to image_tag("/portal/images/sic.jpg",:style => "margin:0 auto;width:180px;"), "http://www.e-sic.df.gov.br/Sistema/",:target => "_blank"
  -#   .botoes4
  -#     = link_to image_tag("http://www.ouv.df.gov.br/assets/img/MarcaOuvidoriacomCanais.png",:style => "margin-left:27px;width:125px;margin-top:22px;margin-bottom:10px"), "http://www.ouv.df.gov.br/#/",:target => "_blank"
