.panel{style: 'margin-top: 50px'}
  .panel-body
    %h2 
      %b Regularização Itapoã
    %hr/ 

    = link_to "Realizar solicitação", regularization.new_form_itapoa_regularization_path
    = link_to "Visualizar minha solicitaçaõ"