.collapsing {
  width: 1px;
  white-space: nowrap;
  overflow: visible !important;
}

table tr td {
  vertical-align: middle !important;
}

.text-center {
  text-align: center;
}

.help-block {
  color:red;
}

.has-error input {
  border: 1px red solid;
}