:css
  fieldset {
    border: 1px solid #d8d8d8;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 16px;
  }

.row
  .col-md-12
    .panel
      .panel-heading
        %h2
          %b Inscrição 2020
      .panel-body
        - if Date.current < Date.parse('2021-01-01')
          = render 'form'
        - else
          As inscrições 2020 encerram, mais informações 
          %a{href: "http://www.codhab.df.gov.br/postagem/1414", target: '_blank'} (clique aqui)