.row
  .col-md-12.box
    .panel.panel-default
      .panel-body
        %div{style: "text-align: center"}
          %h2.ui.center.aligned.icon.header
            %b Parabéns! Seu recurso foi enviado com sucesso!
            %br/
            %br/
            %p 
              Protocolo de autenticação da operação: 
              %b #{@request.request.id}#{Date.current.year}
%br/
%br/
%br/

