.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title Pendência (Atendimento)
.modal-body
  - @candidate.ticket_requests.each do |request|
    %b Data: #{request.created_at.strftime("%d/%m/%Y") rescue nil}
    %p= request.description.html_safe