<!DOCTYPE html>
<html>
<head>
  <title>Mobilization</title>
  <%= stylesheet_link_tag    "mobilization/application", media: "all" %>
  <%= javascript_include_tag "mobilization/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
