= simple_form_for @cadastre, url: post_recadastre_path, method: :post, remote: true do |f|
  = f.input :cpf, label: false, input_html: { class: 'cpf', style: 'height: 78px; font-size: 40px;'}
  = f.submit "Verificar meu CPF", class: 'btn btn-warning btn-lg', style: 'background-color: #ffcb08 !important; border-color: #ffcb08 !important; color: #5c5c5c;'
