.container.portal-container.box
  .panel.panel-default
    .panel-body
      %h1{style: 'text-align: center'}
        %b PREVISÃO DE OFERTA DE UNIDADES HABITACIONAIS - ANO 2017  
        %p
      %h4{style: 'text-align: center'}
        Estimativa de oferta de Unidades Habitacionais e os quantitativos de atendimento aos percentuais previstos na Lei 3877/2006.
      %br/
      %br/
      %br/
      %br/
      %p A CODHAB divulga a estimativa de oferta de Unidades Habitacionais e os quantitativos de atendimento aos percentuais previstos na Lei 3877/2006. O detalhamento da estimativa se encontra no quadro abaixo.
      %br/
      %br/
      = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/3b6e51987be6054b0e1f557ca4e75c44.png', width: '100%')

      %br/
      %br/
      %br/