.row
  .col-md-12
    %p
      %h1
        %b Solicitação de reembolso
    %p
      Abaixo, o candidato pagante deverá logar com as informações concernentes à sua inscrição (nº de inscrição + senha). Após o procedimento, o candidato será direcionado para uma outra página, na qual poderá informar os seus dados bancários com segurança.
.row
  .col-md-12
    = render 'form'
