.panel{style: 'margin-top: 50px'}
  .panel-body
    %h2.text-center 
      %b Formulário de solicitação (Itapoã) - Acompanhamento

    = link_to "Finalizar acesso", regularization.itapoa_regularizations_path, class: 'btn btn-info btn-lg btn-block'

.panel
  .panel-body
    %h3
      %b Situação
    %h4
      - if @itapoa_regularization.candidato?
        %span{style: "color: gray"} 
          %b Pendente de envio
      - if @itapoa_regularization.codhab?
        %span{style: "color: blue"} 
          %b Em análise pela CODHAB, aguarde retorno.
      - if @itapoa_regularization.deferido?
        %span{style: "color: green"} 
          %b Deferido pela CODHAB
      - if @itapoa_regularization.indeferido?
        %span{style: "color: red"} 
          %b Indeferido pela pela CODHAB
.panel
  .panel-body
    - if @itapoa_regularization.candidato?
      = render 'edit_form'
    - else
      = render 'edit_form'