.container{:style => "background: #ffffff"}
  .row
    .col-md-12
      .slider_tech.technical_slider
        .bxslide_action{:style => "margin-top:30px;height:400px;"}
          = image_tag('/portal/20.png', :style => 'margin-top:30px;height:341px;')
  .row
    .col-md-6{style: 'margin: -24px 0px 21px 0px;'}
      %h2.tech_title
        %b
          convênios, voluntariado & projetos especiais
  .row
    .column
      .col-md-12
        %table.ui.celled.table.yellow
          %tbody
            -if @events.present?
              - @events.order(:title).each do |event|
                %tr
                  .row
                    .col-md-12
                      .col-md-4.tech_bloco_33{style:'float: left; width: 65%'}
                        = image_tag('/portal/02.jpg', style: 'float: left; width: 100%')
                      .col-md-8.tech_bloco_34
                        %div
                          %h3{style:'float: left; color: #fff;'}
                            = event.title
                      %p{style:'float: left;'}
                        %br
                        = event.content
