= render 'layouts/portal/slider'
.homeLatestWrapper
  = render 'layouts/portal/box_notices'
  = render 'layouts/portal/publicidade'
  -# = render 'layouts/portal/resultados'
/:javascript
/  $(document).ready(function() {
/    $('#modal .modal-dialog').addClass('modal-lg')
/    $('#modal .modal-content').html("#{escape_javascript(render 'layouts/portal/popup')}")
/    $('#modal').modal('show')
/  })