.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h4 Adicionar Agendamento
        %hr/
        .row
          .col-md-12
            = render 'form_new'
