.container
.col-md-12.linha2
.col-md-12.linha3

  .row
    .title_assistencia
      .col-md-12.title_asstec.margint50
        %p.title_arq
          \#Assistência
          %b
            Técnica
          %br
          %b #Arquitetos
          Sociais
          %br

      .col-md-12.margint50
        .navbar_assi
          %ul.menu_assi
            %li
              %a INICIO
            %li
              %a PROJETO NA MEDIDA
            %li
              %a MELHORIAS HABITACIONAIS
            %li
              %a AÇÕES URBANAS
            %li
              %a CONTATOS
            %li
              %a QUEM SOMOS
.col-md-12.linha
.col-md-12.linha2
