.modal-header
  %h5.modal-title 
    %b ENVELOPE 1 - Proposta
  %button.close{"aria-label" => "Fechar", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  
  %table.table.table-striped.table-celled.table-bordered
    %thead
      %tr
        %th Data/Hora
        %th Arquivo
    %tbody
      - if @proposals.where(deleted: false).present?
        - @proposals.where(deleted: false).each do |pro|
          %tr
            %td= pro.created_at.strftime("%d/%m/%Y %H:%M")
            %td.collapsing= link_to "Visualizar", pro.document_url, target: "_blank"
      - else
        %tr
          %td{colspan: 2}
            %i Nenhum arquivo enviado.