.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title= params[:type] == "0" ? "Questionário - Situação Habitacional" : "Questionário - Infra. Habitacional"
.modal-body
  = render 'form'
