<!DOCTYPE html>
<html>
<head>
  <title>Assistance</title>
  <%= stylesheet_link_tag    "assistance/application", media: "all" %>
  <%= javascript_include_tag "assistance/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
