= simple_form_for @document, remote: true do |f|
  = f.input :name, label: "Nome"
  = f.input :status, label: "Ativo?", as: :select, include_blank: false
  %hr/
  = f.submit "Salvar", class: 'btn btn-success'