.modal-header
  %h5.modal-title 
    %b Adicionar documento
  %button.close{"aria-label" => "Fechar", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  = render 'form'