<!DOCTYPE html>
<html>
<head>
  <title>Letter</title>
  <%= stylesheet_link_tag    "letter/application", media: "all" %>
  <%= javascript_include_tag "letter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
