.row.mini-margin
  .col-md-12
    .panel.panel-default
      .panel-body
        %h2
          %b Histórico de posição
          %p
            %small Listagens do histórico de posição dos candidatos habilitados