.row
  .col-md-12
    %div{style: "text-align: center"}
      %h3
        %b Não foi possível recuperar sua senha. 
      %h3
        %b Os dados informados não coincidem com o atual cadastro na CODHAB. 
%br/
%br/
%br/