.row
  .col-md-6.col-md-offset-4
    = simple_form_for @password, url: remember_passwords_path, remote: true do |f|
      .row
        .col-md-5
          = f.input :cpf, label: mobile_device? ? "Informe seu CPF(somente números)" : "Informe seu CPF", input_html: { class: mobile_device? ? '' : 'cpf'}
        .col-md-4
          = f.submit "Prosseguir", class: 'btn btn-success filter-button', data: { disable_with: t(:disable_with)}
  .col-md-6.col-md-offset-4
    = link_to 'Manual de recuperação de senha.','http://www.codhab.df.gov.br/uploads/archive/files/1aac165c8128edd1b47ee049a10ce793.pdf', target:'_blank'