= render('layouts/partials/assistance_header')
.container
  .col-md-12
    .col-md-6
      %p.contato_asstec CONTATE-NOS
      %p.text_contato_asstec_title
        1. SOL NASCENTE, CEILÂNDIA/DF
      %p.text_contato_asstec
        Arq. Isabela Gardês - 61 995574085
        %br
        %u isabela.gardes@codhab.df.gov.br
        %br
        %br
        Endereço: Prologongamento da Av. P4, Sol Nascente - Trecho I, Ceilândia/DF
        Seg. à Sex. -  9:00  às 17:00
        %br
    .col-md-6.margint50
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.3908063581107!2d-48.131657249518724!3d-15.836044288971465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTXCsDUwJzA5LjgiUyA0OMKwMDcnNDYuMSJX!5e0!3m2!1spt-BR!2sbr!4v1477075100589" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  .col-md-12.linha2
  .col-md-12
    .col-md-6
      %p.text_contato_asstec_title
        2. POR DO SOL, CEILÂNDIA/DF
      %p.text_contato_asstec
        Arq. Frederico Barboza - 61 995449774
        %br
        %u frederico.barboza@codhab.df.gov.br
        %br
        %br
        SHPS, Qd 303 Conjunto A Loja 28 -B,Ceilândia/DF
        Seg. à Sex. 8:00 às 12:00 / 13:00 às 17:00
        %br
    .col-md-6
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3842.8231673466503!2d-47.872436149521626!3d-15.601093989118489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTXCsDM2JzAzLjkiUyA0N8KwNTInMTIuOSJX!5e0!3m2!1spt-BR!2spt!4v1477073765059" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  .col-md-12.linha2
  .col-md-12
    .col-md-6
      %p.text_contato_asstec_title
        3. QNR, CEILÂNDIA/DF
      %p.text_contato_asstec
        Fabiana Lemos - 61 992264672
        %br
        %u fabiana.rajao@codhab.df.gov.br
        %br
        %br
        SHPS, Qd 303 Conjunto A Loja 28 -B,Ceilândia/DF
        Seg. à Sex. 8:00 às 12:00 / 13:00 às 17:00
        %br
    .col-md-6
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2339.6316818161777!2d-48.15909607157642!3d-15.806318477810635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTXCsDQ4JzE5LjYiUyA0OMKwMDknMjcuMSJX!5e1!3m2!1spt-BR!2sbr!4v1477074850993" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  .col-md-12.linha2
  .col-md-12
    .col-md-6
      %p.text_contato_asstec_title
        4. VILA CAUHY, NÚCLEO BANDEIRANTES/DF
      %p.text_contato_asstec
        Paulo Cavalcante - 61 995 556 205
        %br
        %u paulo.cavalcante@codhab.df.gov.br
        %br
        %br
        Área especial, Prefeitura Comunitária da Vila Cauhy, Núcleo Bandeirante/DF
        Seg. à Sex. 8:00 às 12:00 / 13:00 às 17:00
        %br
    .col-md-6
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.595389684948!2d-47.9628137495182!3d-15.874952388947268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTXCsDUyJzI5LjgiUyA0N8KwNTcnMzguMiJX!5e1!3m2!1spt-BR!2sbr!4v1477074966615" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  .col-md-12.linha2
  .col-md-12
    .col-md-6
      %p.text_contato_asstec_title
        5. QNR, CEILÂNDIA/DF
      %p.text_contato_asstec
        %br
        Fabiana Lemos - 61 992264672
        %br
        %u fabiana.rajao@codhab.df.gov.br
        %br
        %br
        SHPS, Qd 303 Conjunto A Loja 28 -B,Ceilândia/DF
        Seg. à Sex. 8:00 às 12:00 / 13:00 às 17:00
