= render('layouts/partials/assistance_header')
.container
  .icon_asstec
    %img{:src => "/img/home1.png"}/
    %p.title_projeto_na_medida
      PROJETO NA MEDIDA
      %br
    %p.text_projeto_na_medida
      O programa Projeto na Medida oferece serviços de assistência
      %br
      técnica em arquitetura e gratuitamente para
      %b famílias com renda de
      %br
      %b até 3(três) salários mínimos.
      São elaborados projetos com
      %br
      construçoes de casas locadas em áreas de
      %b Interesse Social
      %br
      regularizadas ou passíveis de regularização.

  .btn_asstec.margint50
    %a{:href => "#",:class => "botao_asstec"} CLIQUE PARA SABER MAIS
