= render('layouts/partials/assistance_header')
.container
  .col-md-6
  .col-md-6.title_quem_somos
    %p RELATO DE UMA EXPERIÊNCIA
    %br
    %p.text_quem_somos
      O Governo do Distrito Federal, sob o comando do Governador Rodrigo Rollemberg, definiu como um de seus eixos estratégicos de ação a gestão do território no Distrito Federal e nomeou para Secretário de Gestão do Território e Habitação e para Presidente da Companhia Habitacional os arquitetos urbanista, Tiago Andrade e Gilson Paranhos.
      %br
      O Presidente da CODHAB, Gilson Paranhos, diante da realidade do alto déficit habitacional, decidiu por fazer uma política de gestão inédita no DF. Com uma visão técnica aguçada como arquiteto e urbanista, o presidente resolveu focar não apenas em fazer construções, mas em “fazer cidades” e uma de suas ações foi a implantação da lei de assistência técnica pública e gratuita em arquitetura no âmbito da Companhia de Desenvolvimento Habitacional do DF.
      %br
      No início de sua gestão, em janeiro de 2015, diante de uma grande crise econômico-financeiro na administração pública do DF e de uma realidade de redução de quadro de pessoal em 50%, o presidente investiu na contratação de 5 (cinco) profissionais arquitetos urbanistas para iniciar a implantação da assistência técnica.
      %br
      Implantar a Assistência Técnica no tempo proposto pelas circunstâncias políticas foi desafiador, pois decorridos sete anos da promulgação da Lei da Assistência Técnica Pública e Gratuita (Lei federal nº11.888/2008), poucos eram/são os modelos implantados no Brasil e mesmo assim, em realidades bem distintas. Os modelos implantados bem como as publicações relativas as Assistências Técnicas limitavam-se a proposta de atuação dentro da unidade habitacional.
      %br
      A CODHAB identificou uma necessidade de atuação no aspecto macro habitacional. Não era possível atuar em melhorias habitacionais quando a maioria das habitações existentes não correspondiam ao projeto urbanístico aprovado ou simplesmente quando nem havia projeto urbanístico. Diante do desafio, a CODHAB buscava, levar a qualidade habitacional para as famílias do DF que mais precisavam por meio da Assistência Técnica que lhes são de direito.
      %br
      As respostas foram e vão aparecendo com a prática. Atualmente a CODHAB possui dez postos de assistência técnica ativos no DF e com apenas 5 arquitetos consegue atuar semanalmente recebendo e encaminhando as demandas e necessidades dessas comunidades para assim construir uma assistência técnica ideal para áreas que configuram como sendo as que apresentam mais problemas urbanísticos, ambientais e sociais.
      %br
      O primeiro Posto de Assistência Técnica da CODHAB foi instalado na ARIS Sol Nascente, RA Ceilândia, em 04 de abril de 2015. A localidade passava por um início de uma obra de urbanização cujo projeto fora desenvolvido em 2009, para uma realidade que não mais se aplicaria, o que causou forte impacto social na área. A execução das obras desse projeto impactaria a vida de quase 100mil famílias. O apelo popular sobre o governo ensejou a CODHAB a estar mais presente da execução das obras na tentativa de amenizar os impactos sociais e habitacionais.
      %br
      Buscando identificar as localidades com mais precariedade habitacional, o Presidente da Companhia, arquiteto urbanista Gilson Paranhos, iniciou ainda no mês de abril uma busca por identificar onde estariam os pobres mais pobres do Distrito Federal. Consultando os dados da PDAD a equipe de Assistência Técnica identificou a ARIS Estrutural, RA SCIA, como uma das áreas com mais precariedades habitacionais e sociais. O que levou a abertura do segundo posto de Assistência Técnica da CODHAB naquele local em 18 de abril de 2015.
      %br
      A experiência que a CODHAB havia concretizado em 2010 com assistência técnica, levou a decisão em abrir um posto de assistência técnica na ARIS QNR – Ceilândia. Esse posto foi inaugurado em 18 de maio de 2015
      %br
      Os trabalho da Assistência Técnica foram concentrados na identificação de necessidades nas localidades onde a equipe atuava. Os trabalhos no Posto da ARIS Sol Nascente se destacavam sobremaneira comparado aos outros postos devido ao diferencial no acompanhamento das obras de urbanização. O PAT da ARIS Sol Nascente se configurava como um elo entre o governo e a comunidade local, passou a ser utilizado para reuniões governamentais cujas pautas eram o Sol Nascente, configurando-se como elemento governamental e social de fundamental importância para a gestão das obras e do impacto na localidade.
      Os resultados dos Postos de Assistência Técnica não tinham como ser contabilizados, considerando o caráter das atividades serem mais qualitativas que quantitativas. Não foram mensuradas a quantidade de famílias que foram beneficiadas com consultas sobre a implantação do projeto urbanístico, mas o resultado aparecia na própria comunidade e no governo.
      %br
      A liderança comunitária da ARIS Pôr do Sol – Ceilândia - protocolou um ofício na CODHAB solicitando a abertura de um posto no local. O mesmo fez a comunidade da ARIS Vila Cauhy – Núcleo Bandeirantes.
      %br
      Considerando a oportunidade única de atuar diretamente com a comunidade como um agente direto nas ações, a CODHAB não hesitou em abrir esses dois postos. Sem qualquer aumento de custo para a Companhia, a decisão foi tomada unicamente priorizando o aspecto da experiência do projeto de assistência técnica no Pôr do Sol e na Vila Cauhy, visto a problemática de regularização e ambiental das duas áreas.
      %br
      Em setembro de 2015, a CODEPLAN lançou pesquisa que mapeou as famílias do Distrito Federal consideradas pobres e que estariam em condições mais críticas. Na lista divulgada as áreas de Brazlândia, São Sebastião e Fecal apareceram com destaques. Foi então que se decidiu por abrir um Posto de Assistência Técnica também em cada uma dessas localidades, o que se concretizou em 2016.
      %br
      O mesmo requisito utilizado para abertura do Posto na ARIS Sol Nascente se repetiu nas Áreas de Porto Rico – Ribeirão (Santa Maria) e Buritizinho (Sobradinho II). O Governo iniciou o plano de obras de urbanização para essas duas localidades e isso levou a CODHAB a acompanhar e dar o suporte necessário à essas comunidades. A abertura desses dois postos foi concretizada em 2016.
      %br
      A CODHAB inicia o mês de maio de 2016 com 10 (dez) postos de Assistência Técnica ativos e com a meta de qualifica-los e definir suas atuações. Sendo eles:
      %br
      
