<!DOCTYPE html>
<html>
<head>
  <title>External firm</title>
  <%= stylesheet_link_tag    "external_firm/application", media: "all" %>
  <%= javascript_include_tag "external_firm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
