= render 'candidate/restrict_area/dashboard/top'
- if !mobile_device?
  .row
    .col-md-3
      = render 'candidate/restrict_area/dashboard/sidebar'
    .col-md-9
      .row
        .col-md-12
          .row
            .col-md-12
              .panel.panel-default
                .panel-body
                  .row
                    .col-md-12
                      = render 'form'
- else
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          .row
            .col-md-12
              = render 'form'
