!!!
%html
  %head
    %title Extranet
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'app_empty_a4', media: 'all'
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto", :media => "all", :rel => "stylesheet"}/
    = csrf_meta_tags
  %body
    = yield
