.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h4
              %b Endereços Disponíveis
        %hr
        .row
          .col-md-12
            Quero participar do sorteio das seguintes áreas/lotes:
        %hr
        .row
          .col-md-12
            = render 'index'
